@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-cream: #FFFBF0;
  --color-dark: #343434;
  --color-green: #6A8E24;
  --color-green-light: #9AC04D;
  --color-cherry: #D63D56;
  --color-logo-red: #C01B36;
  --font-sans: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .nav-link { display: none !important; }
}
